#fancybox
  background url(http://fancyapps.com/fancybox/source/fancybox_overlay.png) repeat
  opacity 1
  display none
  position fixed
  left 0
  right 0
  bottom 0
  top 0
  z-index 8010
  width 100%
  height 100%

.fancybox-wrap
  width: 869px;
  background #fff
  display table
  margin 0 auto
  position relative
  padding 15px
  border-radius 10px
  top 50px
  z-index 8030

.fancybox-close
  background url(http://fancyapps.com/fancybox/source/fancybox_sprite.png) no-repeat
  cursor pointer
  height 36px
  position absolute
  right -18px
  top -18px
  width 36px
  z-index 8040

.form-box
  display:flex
  justify-content: center
  align-items: center
  font-size: 28px
  color: #373738

.form-image
  img
    width:361px
    height: 361px

.form-group 
  &--title
    text-align: center

  &--price
    font-size: 18px
    margin-left:45px
    color: #B53C3C 

  &--list
    font-size: 16px
    color: #585858

.animated
  animation-duration 1s
  animation-fill-mode both

  @keyframes
    fadeIn
      from 
    opacity 0

.fadeIn
  animation-name fadeIn