 @font-face
   font-family futuraBold
   font-style normal
   src url(../fonts/Futura_Bold.otf)

/* Login admin */
#app, html
  background-color: #710D0D

.panel-login-admin
  color: #fff
  margin-top: 8vh
  .login-admin-title
    font-size: 2.2em
    font-family: 'futuraBold'
    text-align: center
    letter-spacing: .6px
  .login-admin-logoTitle
    margin-top: 5vh
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    img 
      width: 120px
      height: 120px
    .m-l-2
      margin-left: 2vw
  .form-horizontal
    margin-top: 10vh

.send-login
  text-align: center
  background-color: white 
  color: #710D0D

/* Dashboard admin */
.navbar-nav.navbar-right
  li 
    a
      color: white
      font-size: 1.2em
      &:hover
        color: #dcdcdc

.dropdown-toggle
  background-color: transparent !important
.dropdown-menu
  background-color: #710D0D
  li 
    a:hover
      background : #710D0D 


.navbar-default
  background-color: #710D0D
  padding: 10px 2%
  .navbar-brand
    padding: 10px 0
    display: flex
    flex-direction: row 
    align-items: center
    color: white
    font-family: 'futuraBold'
    img 
      width: 50px
      height: auto
      margin-right: 10px