@import "../../../node_modules/font-awesome/css/font-awesome.css"
@import "../../../node_modules/react-image-gallery/styles/css/image-gallery.css"

$ferrerColor = #710D0D;
$backgroundColor = #f1f1f1;

body html 
  margin:0
  padding:0


body
  background-color: $backgroundColor
  margin:0
  padding:0


.navbar   
  background-color: $ferrerColor
  display:flex
  justify-content: center
  align-items: center
  height: 166px

  &-content
    display: flex
    justify-content: space-around
    align-items: center
    flex-direction: row
    flex: 0 1 1200px
    flex-wrap: wrap;

    &-title
      display:flex
      align-items: center
      flex-direction: row
      flex: 0 1 280px
      flex-wrap: wrap
      &-logo
        width: 70px
        height: 70px
      & h1
        color: white
        font-size: 22px
        font-family: 'Helvetica'
        margin-left: 18px

    &-navigation
      display: flex
      justify-content: center
      align-items: center
      flex-direction: column
      width: 650px

      &-menu
        padding:0
        width: 650px
        list-style: none
        display: flex
        justify-content: space-around
        align-items: center
        font-size: 14px
        font-weight: bold

        &-item:first-child 
          margin-left: -30px

        &-item
          padding:0;
          margin: 0;
          text-decoration: none

          & a 
            color: white
            text-decoration: none
            text-align: center
            display: block
            font-family: 'Helvetica'
            font-weight: 400
            letter-spacing: .5px

      &-form
        width: auto 
        position: relative
        &-input
          border-radius: .25em
          box-shadow: 0 1px 0 #bfbebf
          padding: .5em 1.75em
          padding-left: 2.7em
          height: 48px
          width: 650px
          position: relative
          border: 0
          font-size: .9em
          color: rgba(123,123,123,0.78)
  

.busqueda.fa.fa-search 
  position: absolute
  top: 32% 
  left: 2%
  font-size: 1.2em
  color: #5C5C5C


.info
  margin: 0
  padding: 0
  background: rgba(113,13,13,0.85);
  color: #FFFFFF
  display: flex;
  justify-content: center
  align-items:center
  height: 120px

  &-content
    flex: 0 0 775px

    & h2
      font-size: 26px
      text-align: center

.MainContent
  display: flex
  justify-content: center
  align-items: center
  flex-direction: row

  &-category
    flex: 0 0 1100px
    display:flex
    justify-content: space-between
    align-items: flex-start
    flex-direction: row
    margin-top:50px

    &-categoryMenu
      flex: 0 0 266px
      height: 578px
      background: #FFFFFF
      box-shadow: 0 16px 34px 7px rgba(121,121,121,0.10)
      border-radius: 4px

    &-categoryTitle
      font-size: 11px
      color: #A3A3A3  
      font-size: 11px
      margin-left: 20px

    &-resultBox
      flex: 0 0 857px
      height: 828px
      margin-left:20px
      display: flex
      flex-direction: row
      justify-content: flex-start
      flex-wrap: wrap
      border-top: 1px solid #E1E1E1;
      padding-top:35px

.itemBox
  cursor: pointer
  margin-right: 19px
  width: 193px
  height: 354px
  background: #FFFFFF;
  border: 1px solid #E4E4E4;
  box-shadow: 0 4px 14px 7px rgba(121,121,121,0.05);
  border-radius: 4px;
  display:flex
  justify-content: center
  align-items: center
  flex-direction: column
  position:relative

  &-discount
    transform:rotate(90deg)
    width: 104px
    height: 81px
    background-image:url("../img/triangulo.png")
    background-repeat: no-repeat
    background-size:contain
    position:absolute
    right:-12px
    top: 11px
    z-index: 10

    &-contentDiscount
      position: relative

      &-percent
        margin: 0
        padding: 6px
        text-align:left
        position: absolute
        transform: rotate(-43deg)
        font-size: 12px
        color: #B53C3C

      &-discountText
        margin: 0
        padding: 19px 4px
        text-align:left
        position: absolute
        transform: rotate(-43deg)
        font-size: 15px
        color: #FF0808

  &-img
    width: 120px
    height: 120px

  &-productDescription
    display:flex
    justify-content:center
    align-items:center
    flex-direction: column
    text-align: center

    &-name
      font-size: 18px
      color: #373738
      padding: 10px

    &-price
      color: #B53C3C
      font-size: 18px

    &-priceDesc
      font-size: 16px
      color: #A29D9D
      letter-spacing: 0
      color: #A29D9D
      position:relative

    &-priceDesc:after
      content:""
      border-top: 1px solid black
      display: block
      height:   1px
      width: 100%
      border-color: #A29D9D
      position: absolute
      left: 0
      top: 0.5em        


.Categories
  border:1px solid red
  margin-left:20px
  padding: 0

  &-name
    font-size: 15px
    color: #171717
    position: relative
    overflow: hidden

  &-subcategories
    position:absolute
    padding:0
    border:1px solid yellow
    
    &-item
      list-style:none
      padding:0
      margin:0
      font-size: 15px
      color: #000000

.test
  display:none;  
