@import "../../../node_modules/font-awesome/css/font-awesome.css"
@import "../../../node_modules/react-image-gallery/styles/css/image-gallery.css"

$ferrerColor = #710D0D;
$backgroundColor = #f1f1f1;

@import "./navbar/navbar.styl"
@import "./categories/categories.styl"
@import "./BoxItems/itembox.styl"
@import "./mainContent/mainContent.styl"
@import "./footer/footer.styl"
@import "./spinner/spinner.styl"
@import "./fancybox/fancybox.styl"

body html 
  margin:0
  padding:0

body
  background-color: $backgroundColor
  margin:0
  padding:0

.test
  display:none

.example-enter 
  opacity: 0.01;


.example-enter.example-enter-active 
  opacity: 1;
  transition: opacity 500ms ease-in;


.example-leave 
  opacity: 1;


.example-leave.example-leave-active 
  opacity: 0.01;
  transition: opacity 300ms ease-in;

