@import "../../../node_modules/font-awesome/css/font-awesome.css"
@import "../../../node_modules/react-image-gallery/styles/css/image-gallery.css"

$ferrerColor = #710D0D;
$backgroundColor = #f1f1f1;

@import "./navbar/navbar.styl"
@import "./categories/categories.styl"
@import "./BoxItems/itembox.styl"
@import "./mainContent/mainContent.styl"

body html 
  margin:0
  padding:0

body
  background-color: $backgroundColor
  margin:0
  padding:0

.test
  display:none;  


.footer
  color: $backgroundColor
  height:500px 
  background-color: $ferrerColor
  display:flex
  justify-content: space-around
  align-items:center
  flex-direction:column

  &-content
    width: 100%
    flex: 0 0 300px
    display:flex
    justify-content: space-around
    align-items: center

    &-form
      width: 340px
      display: flex
      justify-content: center
      align-items: center
      flex-direction:column

      input
        width: 330px
        height 50px 
        border-radius: 4px
        margin-bottom:10px
        border:none
        line-height: normal
        padding-left:10px

      input:nth-child(4)
        height : 121px

  &-section
    width: 340px
    display:flex
    justify-content: space-between
    align-items: center
    
    input 
      color:white
      height: 31px
      width: 125px
      background: #C7071E;
      border-radius: 9px;
      border:none
      border-style: none
      outline: 0

  &-information
    text-align: center

  &-img
    width: 100px
    height: 100px