.MainContent
  display: flex
  justify-content: center
  align-items: center
  flex-direction: row

  &-category
    flex: 0 0 1100px
    display:flex
    justify-content: space-between
    align-items: flex-start
    flex-direction: row
    margin-top:50px

    &-categoryMenu
      flex: 0 0 266px
      height: 578px
      background: #FFFFFF
      box-shadow: 0 16px 34px 7px rgba(121,121,121,0.10)
      border-radius: 4px

    &-categoryTitle
      font-size: 11px
      color: #A3A3A3  
      font-size: 11px
      margin-left: 20px

    &-resultBox
      flex: 0 0 857px
      height: 828px
      margin-left:20px
      display: flex
      flex-direction: row
      justify-content: flex-start
      flex-wrap: wrap
      border-top: 1px solid #E1E1E1;
      padding-top:35px