.Categories
  border:1px solid red
  margin-left:20px
  padding: 0

  &-name
    font-size: 15px
    color: #171717
    position: relative
    overflow: hidden

  &-subcategories
    position:absolute
    padding:0
    border:1px solid yellow
    
    &-item
      list-style:none
      padding:0
      margin:0
      font-size: 15px
      color: #000000